.cut {
  width: 42px;
  height: 42px;
  left: 10px;
  top: 13px;
}

.cut-hint {
  left: 5px;
  top: 55px;
}

.hearts {
  width: 52px;
  height: 52px;
  right: 65px;
  top: 5px;
}
.hearts-hint {
  right: 83px;
  top: 52px;
}

.heart-count {
  width: 60px;
  right: 8px;
  top: 15px;
  color: red;
}

.preview {
  width: 400px;
  height: 400px;
  top: 135px;
  left: 0;
}

.ranking {
  right: 20px;
  bottom: 40px;
}
.ranking-hint {
  right: 29px;
  bottom: 38px;
}
